
@import "variables.scss";
@import "accordion.scss";
@import "scrollbars.scss";
@import "skeleton.scss";
@import "slider.scss";
@import "tokens.scss";

body {
    background-color: $map-background;
    color: $foreground;
    overscroll-behavior: none;
}

/* Override Skeleton form style */
form {
    margin-bottom: auto !important;
}
button, input, optgroup, select, textarea {
    color: $content-dark !important;
}
div.main-game-zoom-slider-container > input[type=range] {
    width: 200px;
}

#main-game-fullscreen-container {
    background-color: $map-background;
}

/*.canvas-container {
    position: absolute;
    z-index: -1;
    cursor: grab;
}

.canvas-container-grabbing {
    cursor: grabbing !important;
}*/

button.zoom-button {
    padding: 0.5rem !important;
}

div.main-game-container {
    cursor: grab;
    overflow:auto;
}

div.main-game-menu {
    background-color: $form-background;
    touch-action: none;
}

div.main-game-menu-bottom-container {
    background-color: $content-dark;
    padding: 1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

@media (max-width: 670px) {
    div.main-game-zoom-slider-container > input[type=range] {
        display: none !important;
    }
}

@media (orientation: landscape)
{
    div.main-game-container {
        width: calc(100vw - 40em);
        height: 100vh;
        transition-property: width;
        transition-duration: 0.25s;
        transition-timing-function: ease-in;
    }

    div.main-game-container-expanded {
        width: 100vw;
    }

    div.main-game-menu {
        height: 100vh;
        width: 40em;
        position: fixed;
        right: -40em;
        transition-property: right;
        transition-duration: 0.25s;
        transition-timing-function: ease-in;
    }

    div.main-game-menu-expanded {
        right: 0em !important;
    }

    .main-game-zoom-slider-container {
        position: fixed;
        bottom: 1.5em;
        left: 50vw;
        transform: translate(-50%, 0);
        transition-property: left;
        transition-duration: 0.25s;
        transition-timing-function: ease-in;
    }

    .main-game-zoom-slider-container-expanded {
        left: calc(50vw - 20em) !important;
    }
}

@media (orientation: portrait)
{
    div.main-game-container {
        width: 100vw;
        height: 50vh;
        transition-property: height;
        transition-duration: 0.25s;
        transition-timing-function: ease-in;
    }

    div.main-game-container-expanded {
        height: 100vh;
    }

    div.main-game-menu {
        height: 50vh;
        width: 100vw;
        top: 100vh;
        position: fixed;
        transition-property: top;
        transition-duration: 0.25s;
        transition-timing-function: ease-in;
    }

    div.main-game-menu-expanded {
        top: 50vh !important;
    }

    .main-game-zoom-slider-container {
        position: fixed;
        bottom: 1.5em;
        left: 50vw;
        transform: translate(-50%, 0);
        transition-property: bottom;
        transition-duration: 0.25s;
        transition-timing-function: ease-in;
    }

    .main-game-zoom-slider-container-expanded {
        bottom: 55vh !important;
    }
}

div.main-game-menu-buttons-container {
    position: fixed;
    top: 1em;
    left: 1em;
}

button.main-game-menu-button {
    padding: 0.2rem;
    height: 3.7em;
    margin-bottom: 2rem;
    margin-bottom: 0.5rem;
    display: block;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}