
div.token {
    position: absolute;
    height: 50px;
    width: 50px;
}

div.token-selected {
    border: 2px solid green;
}

div.token-content {
    background-color: red;
    user-select: none;
    height: 100%;
    width: 100%;
}
