
<div class="accordion-item-header">
    <span>@Title</span>
    <button @onclick="OnExpandedClicked">
        <span class="material-icons">@(_isExpanded ? "expand_more" : "chevron_left")</span>
    </button>
</div>

<div class="accordion-item-content @(_isExpanded ? "expanded" : "")">
    <article class="accordion-item-inner">
        @ChildContent
    </article>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool _isExpanded { get; set; } = false;

    private void OnExpandedClicked()
    {
        _isExpanded = !_isExpanded;
    }
}
