@using DM5K.Models
@using DM5K.Shared

<div class="main-game-menu @(MenuExpanded ? "main-game-menu-expanded" : "")">
    <AccordionItem Title="Campaign">
    </AccordionItem>
    <div class="main-game-menu-bottom-container">
        <LoginDisplay></LoginDisplay>
    </div>
</div>

@code {
    [Parameter]
    public bool MenuExpanded { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
