<div class="container">
    <div class="row">
        <div class="two columns">
            <button type="button" id="main-game-zoom-slider-minus" class="button button-primary zoom-button">-</button>
        </div>
        <div class="eight columns">
            <input type="range" min="@MinValue" max="@MaxValue" step="0.1"
                   class="slider" id="main-game-zoom-slider" />
        </div>
        <div class="two columns">
            <button type="button" id="main-game-zoom-slider-plus" class="button button-primary zoom-button">+</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public double MaxValue { get; set; } = 50;

    [Parameter]
    public double MinValue { get; set; } = 150;

}
