<AuthorizeView>
    <Authorized>
        <p>@context.User.Identity.Name</p>
        <form method="post" action="Identity/Account/LogOut">
            <a class="button" aria-current="page" href="Identity/Account/Manage">Manage</a>
            <button type="submit" class="button-primary">Log out</button>
        </form>
    </Authorized>
</AuthorizeView>
